body {
    background-color: rgb(247, 240, 228);
    color: beige;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
}

.show-overflow {
    overflow-y: scroll;
    display: block;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

canvas {
    display: block;
}

.h-100 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-centered {
    text-align: center;
}

.background-visuals {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.tower {
    position:sticky;
    top: 0;
    left: 0;
    z-index: -100;
}

.initial-header {
    font-family: monospace;
}

.btn-start {
    border-radius: 50%;
    border: 1px solid beige;
    background-color: rgba(0,0,0,0);
    color: beige;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.portfolio {
    overflow-y: hidden;
    height: 100vh;
}

.sideNavBar {
    height: 100vh;
    position: absolute;
    width: 30vw;
    color: black;
    overflow-y: hidden;
    padding: 0;
    z-index: 100;
}

.side-background {
    position: absolute;
    width: 50vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    --bg-opacity: 0.9;
    background: linear-gradient(90deg, rgba(246, 240, 251, 1) 0%, rgba(230,243,255, 1) 50%, rgb(247, 240, 228) 100%);
    z-index: -2;
}

.sideNavBar ul {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    display: grid;
    gap: 35vh;
    margin: 0;
}

.sideNavBar ul li {
    scroll-snap-align: start;
    height: 10vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
}

.sideNavBar ul li.active {
    color: black;
}

.sideNavBar ul li h3 {
    padding: 0.4rem 0;
    margin: 0;
    font-size: x-large;
    font-family: monospace;
}

.sideNavBar ul li p {
    padding: 0;
    font-size: smaller;
    margin: 0;
}


.large-top {
    display: flex;
    padding-top: 40vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-bottom: 50vh;
    z-index: 1;
    transition: background-color 2s ease-in-out;
}

.content-holder {
    color: black;
    margin-left: 30vw;
    height: 100vh;
    overflow-y: scroll;
    overscroll-behavior: none;
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 1) 20%);
    mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 20%);
}


.portfolio-content div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    padding-left: 15vw;
    align-items: right;
    text-align: right;
    --top-clip: 0%;
    clip-path: inset(var(--top-clip) 0px 0px 0px);
}

.portfolio-content h5 {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: large;
    margin-bottom: 0;
}

video {
    width:105%;
    height:105%;
    object-fit: cover;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    margin-bottom: -100vh;
}

.portfolio-content p {
    font-size: 12pt;
}


.absolute-button {
    position: fixed;
    left: 0;
    top: 0;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
  }

/*# sourceMappingURL=/main.c52e0fe2.css.map */