@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "../node_modules/bootstrap/scss/functions";

/*csslint backdrop-filter:false */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

h3 {
  font-style: italic;
  font-weight: normal;
}

p {
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  line-height: 1.25rem;
}

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/carousel";

.position-absolute {
  position: absolute;
  top: 0px;
  z-index: -100;
}

.position-fixed {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;

}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: -100;
  top: 0px;
}

.reveal {
  opacity: 0;
  transition: opacity 1s;
}

.reveal.show {
  opacity: 100;
}

.mt {
  margin-top: 3rem;
}

.sticky-text {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow: scroll;
}

.margin-0 {
  margin: 0;
}

.large-top {
  display: flex;
  padding-top: 40vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 50vh;
  z-index: 1;
  transition: background-color 2s ease-in-out;
}

.begin{
  border-radius: 4rem;
  border: 1px solid #F2EBE8;
  background-color: rgba(0,0,0,0);
  color: #F2EBE8;
  width: 4rem;
  height: 4rem;
  transition: all 0.5s ease-in;
}

.begin:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  transition: all 0.5 ease-in;
}


/* Expanded Portfolio */

.initial-header {
  letter-spacing: 0.25rem;
  z-index: 101;
}


.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100vw;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

canvas {
  display: block;
}

.bg-black {
  background-color: black;
}

.scrollTargetTower {
  margin-top: -80vh;
}

.intro-wrapper {
  color: #F2EBE8;
}

.intro-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.more {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  align-items: center;
}

.intro-div h1 {
  margin: 0;
}


.intro-div button {
  border-radius: 4rem;
  border: 1px solid #F2EBE8;
  background-color: rgba(0,0,0,0);
  color: #F2EBE8;
  width: 4rem;
  height: 4rem;
  transition: all 0.5s ease-in;
}

.intro-div button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  transition: all 0.5s ease-in;
}

.cls-1 {
  fill:none;
  stroke:#f2ebe8;
  stroke-miterlimit:10;
  stroke-width: 1px;
}

.cls-2 {
  fill: #f2ebe8;
  stroke-width: 0px;
}


.final-button {
  opacity: 100;
}

.style-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
  /* 50% white opacity */
  filter: blur(20px);
  /* Adjust the blur value as needed */
}

.main-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  color: #414141;
  background: linear-gradient(245deg, #FFDAF0 0%, #D1FCF3 100%);
}

.blocking {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: #000;
}

.front {
  z-index: 100 !important;
}

@media (max-width: 600px) {
  .main-background {
    height: 110vh;
  }

  .style-overlay {
    height: 110vh;
  }
}

.portfolio-main {
  color: #414141;
}


/* Portfolio */


.info-card .accordion-content {
  display: none;
  transition: all 0.8s ease;
}

.info-card.active .accordion-content {
  display: block;
  width: 100%;
  transition: all 0.8s ease;
}

.button-list {
  display: flex;
  gap: 1rem;
  z-index: 100;
  margin-top: 2rem;
  flex-wrap: wrap;
}


.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100vw;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  outline: 1px solid #414141;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: height 0.5s;
}

.navbar.active {
  height: calc(100vh - 1px);
  transition: height 0.5s;
  flex-direction: column;
  justify-content: center;
}

.navbar h2 {
  position: fixed;
  top: 0px;
  left: 0rem;
}

.navbar.active h2 {
  position: fixed;
  top: 0px;
  left: 0rem;
}

.navbar h2 {
  margin-left: 2rem;
  font-size: 1.25rem;
}

.navbar .navigation {
  margin-right: 2rem;
  display: flex;
  gap: 3rem;
}

a {
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  color: #414141;
  /* Default link color */
  text-decoration: none;
  /* Remove underline */
  transition: all 0.3s;
}

.button-content {
  border: 1px solid #414141;
  padding: 9px 20px;
  text-decoration: none;
  border-radius: 20px;
  color: #414141;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  background: none;
  font-size: medium;
}

.button-content:hover {
  cursor: pointer;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.about-me-parent {
  margin-top: 10rem;
  align-items: center;
  text-align: center;
}

.about-me-parent h2 {
  font-size: 1.25rem;
}

.about-me img {
  height: 20rem;
  margin-left: 20%;
  border: #414141 solid 1px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.8;
}

.about-me .content-holder {
  margin-left: 1rem;
  margin-right: 15%;
}

.social-icons {
  height: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.social-icons img {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0;
  border-radius: 4px;
}


.info-card-title button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: #414141;
}

@media (hover: hover) {
  a:hover {
    color: #414141;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
  }

  .social-icons img:hover {
    color: #414141;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
  }

  .button-content:hover {
    color: #414141;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    text-shadow: none;
  }

  .info-card-title button:hover {
    color: #414141;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }


}

a:active {
  color: #000;
  /* Change link color on click to black */
  box-shadow: none;
  /* Remove drop shadow on click */
}

.expand-button {
  position: absolute;
  right: 0;
  top: 0;
}


.info-card {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: flex-start;
  transition: all 0.8s ease;
}

.info-card .row {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  transition: all 0.8s ease;
}

.info-card.center {
  outline: 1px solid #414141;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: all 0.8s ease;
}


.info-card-title {
  min-width: 45%;
  max-width: 45%;
  justify-self: end;
  text-align: end;
  margin-right: 5rem;
}

.info-card-title h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.info-card-description {
  margin-right: 5rem;
  min-width: 45%;
  max-width: 45%;
}

.info-card-description h3 {
  font-style: italic;
  font-weight: normal;
}


.spacer {
  min-height: 30vh;
  display: flex;
  scroll-snap-align: start;
  z-index: 100;
}

.navbar .icon {
  display: none;
  background: none;
  border: none;
}


.accordion-content .info-card-description {
  margin-left: 50%;
}


.margin-bottom {
  margin-bottom: 2rem;
}

.page-parent {
  width: 100vw;
  overflow-x: hidden;
}

.refs {
  background: rgb(255, 255, 255, 0.95) 100% !important;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  -webkit-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 0px !important;
  z-index: 102;
}

@media (max-width: 600px) {

  .refs {
    max-width: 300px !important;
  }

  .icon {
    color: #414141;
  }

  .icon::before, .icon:enabled, .icon:hover, .icon:active {
    color: #414141;
  }

  .spacer {
    height: 10vh;
  }

  .about-me-parent {
    margin-top: 5rem;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .about-me img {
    width: 60vw;
    height: auto;
    align-self: center;
    margin: 0;
  }

  .about-me .content-holder {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2rem;
    margin-top: 0.5rem;
  }

  .social-icons {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }

  .social-icons img {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    border-radius: 4px;
  }

  .info-card {
    flex-direction: column;
    align-items: center;
  }
  

  .info-card .row {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 27rem;
  }

  .info-card .button-list {
    align-items: center;
    justify-content: center;
  }

  .info-card-title {
    min-width: none;
    max-width: none;
    justify-self: center;
    text-align: center;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .info-card-description {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    min-width: none;
    max-width: none;
  }

  .navbar .navigation {
    display: none;
  }

  .navbar .navigation.active {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .navigation.active a {
    width: 100vw;
    height: 2rem;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden !important;
  }

  .navbar .icon {
    display: block;
    position: fixed;
    top: 15px;
    right: 6px;
  }

  .split-layout {
    display: flex;
    flex-direction: column;
  }

  .split-layout .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(100vw - 4rem);
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .split-layout .image-carousel {
    width: 100vw !important;
    align-self: center;
    justify-self: center;
    margin: 0;
  }

  .image-carousel img {
    height: auto;
    width: 100%;
    border: 1px solid #414141;
  }

  .expanded {
    padding-left: 0 !important;
  }


  .expanded .initial-intro {
    margin-left: 2rem;
    padding-right: 2rem;
  }

}

.expanded {
  margin-top: 0;
  padding-top: 5rem;
  padding-left: 2rem;
  border-bottom: 1px solid #414141;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.expanded p {
  line-height: 1.25rem;
}

.expanded.no-margin {
  padding-top: 1rem !important;
  margin-top: 0;
}

/* Focusing on a card */

.initial-intro h2 {
  line-height: 2.5rem;
  font-size: 1.875rem;
  text-transform: uppercase;
  width: 70vw;
}

.initial-intro {
  margin-right: 1.5rem
}

.expanded h3 {
  font-weight: normal;
}

.split-layout {
  display: flex;
}

.split-layout .space {
  height: 2rem;
}

.split-layout .info {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 40%;
  min-height: 100% !important;
  justify-content: space-between;
}

.split-layout .info h3 {
  margin-top: 3rem;
}

.split-layout .image-carousel {
  width: 60%;
  align-self: flex-end;
  margin-bottom: -6vw;
  margin-top: 2rem;
}



.image-carousel img {
  height: auto;
  width: 100%;
  border: 1px solid #414141;
}

.info .button-list {
  margin-bottom: 2rem;
}

.next-element {
  outline: 1px solid #414141;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  width: 100vw;
  margin-top: 10rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #4141419e;
}

.next-element button:active {
  color: #414141;
}

.next-element button:hover {
  color: #414141;
}

.next-element button {
  color: #414141;
}

.next-element h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


.visually-hidden {
  display: none;
}

.next-element button {
  background: none;
  border: none;
}

.top-image {
  height: 40vh;
  width: 100vw;
  outline: #414141 solid 1px;
  object-fit: cover;
}